<ion-view view-title="联系我们">
  <ion-content>
    <img src="img/contact_map.jpg" class="full-image">
    <div style="padding: .5rem;">
      <div style="padding: .6rem 0;">
        <h3>上海卓保网络科技有限公司</h3>
        <p>地址：<span class="hui2">上海市徐汇区桂平路418号A座619室</span></p>
        <p>邮编：<span class="hui2">200233</span></p>
        <p>联系：<span class="hui2">王女士</span></p>
        <p>电话：<span class="hui2">400-630-7088（工作日10:00-18:00）</span></p>
        <p>邮箱：<span class="hui2">service@baobaoji.cn</span></p>
      </div>
    </div>
  </ion-content>
</ion-view>
