<ion-view view-title="关于夸克">
  <ion-content  style="background-color: #eee">
    <div><img src="img/about_img1.jpg" class="img-responsive img_full" ></div>
    <div class="item item-icon-left" style="margin-top: 10px">
      <i class="icon about_ico about_ico1"></i>
      夸克原理
    </div>
    <div class="item">
        夸克--已知自然界中的最小粒子
        <p>夸克很渺小，小到直径只有10-12微米。</p>
        <p>夸克很强大，强到自然界中任何庞大物体都是由它构成。 </p>
        <p>我们每个人，在这个世界上，都如一粒微小的“夸克”。</p>
        <p>生活中，面对不可预知的巨大风险时，孑然无助，难以抵御，通过“网络互助”，合力抵御潜在风险的组织就是“夸克联盟”。</p>
        <p>每一位自愿参与到联盟中的人，被称为 “夸克”。 </p>
        <p>夸克：“我微小，但绝不弱小” </p>
    </div>
    <div class="item item-icon-left" style="margin-top: 10px">
      <i class="icon about_ico about_ico2"></i>
      夸克的由来
    </div>
    <div class="item">
        开过几年车的朋友，应该都有这种体会，就是买车险的时候，都认为自己技术不错，开车小心，一定不会用到。可事实是，每个司机，几乎都产生过理赔，不管是撞了别人，还是被别人撞了，风险总在我们的意料之外忽然降临。
        <p>作为从业者，我们常常为那些一张保单都没有购买过的人，感到深深的忧心，为ta的家庭感到担忧。据统计，我国每年  因交通、工伤、旅行等意外而导致伤残的发生概率为1/105，我国居民一生中，癌症的患病概率为22%。万一呢？这百分之一、万分之一的概率落在ta的身  上，谁来帮ta？ta的存款、房子、车子，ta的幸福都还在吗？我们把这个群体称为“幸福裸奔”的人群。我们只能深深的祝福，希望老天真得要眷顾，不要去  打扰ta们的幸福。</p>
        <p>说实话，并不是“裸奔”的人群真得没有风险意识，我们也认为现在的保险产品确实是有些贵，再加上信息不透明、低质保险的大量存在，让大家难以辨认，不敢消费。</p>
        <p>
          如何能找到保障又好，价格又便宜的产品，让“裸奔”的人群，尽快穿上盔甲呢？<br>
          为了这个想法，我们在国内几十家保险公司，已有的几千种在售产品库里挑选，但筛选完，觉得价格还是太贵。我们又专程，几次三番去拜访过数家保险公司总部的  产品部门，希望能为大家定制出几款质优价廉的产品，却发现理想和现实差距太远。
        </p>
        商讨思路——推翻重来——商讨思路——推翻重来……如此反复，折腾了快一年，在几近绝望之际，产品部门的负责人，忽然提出一个大胆的想法——既然保险的核  心理念是“网络互助”，我们能不能利用互联网工具，自己搭建一个众筹平台，零利润，透明化运营，保什么自己定，保多少自己定，让每个人能用最低的投入，获  得足够的保障呢？
        <p> 这就是“夸克联盟”的由来，网络互助，每个人是奉献者，每个人是受益者。人人为我，我为人人。让每个人的爱心，真正给到最需要的人。让每个遇到苦难的人，从此有了依靠，不再孤单。</p>
    </div>
    <div class="item item-icon-left" style="margin-top: 10px">
      <i class="icon about_ico about_ico4"></i>
      一个真实的故事
    </div>
    <div class="item">
        <div>
          这个故事来自保保集团队一位伙伴的母亲。<br>
          <p>
            一年寒冬，这位老人在菜市场买菜归家时，被一辆电动车撞倒在地。街上人来人往，却无人过问，哪怕哀求借个手机，也无人搭理。直到一位邻居路过，才被送往医  院，而她躺在寒冷的地上达半个多小时。更讽刺的是，这位老人在遭遇这件事之前，曾一直电话里叮嘱她的儿子，看到有老人摔倒千万不要多管闲事，可别被讹上  了。现如今，她遇到了，她渴望别人的帮助，但别人就跟这位母亲的叮嘱一样，无人敢扶。<br>
            这件事让身处异地的这位伙伴寒心，却无可奈何。只因部分不诚信的老人，导致乐于助人的道德体系崩塌。
          </p>
          <p>所以我们推出的——夸克“扶老太太”爱心互助计划，不是为社会提供正能量，也不是博爱，这只是一份自私的计划。只因我们父母已老，而我们不可能一直陪伴左右，如遇不测，需要你我温暖的手！更因为我们也会老，不希望等到我们老时，摔倒无人问津！</p>
          <p>我们希望通过这份计划，让所有人都能扶的起倒地的老人，不用再权衡利弊，后顾无忧地当个好人。</p>
        </div>
    </div>
  </ion-content>
</ion-view>
