<ion-view view-title="关于">
  <ion-content>
      <div class="about_banner"><img src="img/kk_about.png" class="img-responsive img_full" ></div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#/tab/about-detail">
        <i class="icon about_ico about_ico2"></i>
        关于夸克
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/about-news">
        <i class="icon about_ico about_ico1"></i>
        新闻中心
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/about-contact">
        <i class="icon about_ico about_ico3"></i>
        联系我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      </div>
  </ion-content>
</ion-view>
