<ion-view view-title="账户信息">
  <ion-content style="background-color: #eee;">
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;">个人信息</div>
    <div class="list" style="margin-top: 10px">
      <div class="item">
        ☆梦寻江南☆
      </div>
      <div class="item">
        手机号码
        <span class="item-note">13216556465</span>
      </div>
    </div>
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;">账户信息</div>
    <div class="list" style="margin-top: 10px">
      <div class="item">
        账户ID
        <span class="item-note">4255454</span>
      </div>
      <div class="item">
        注册时间
        <span class="item-note">2016/4/3</span>
      </div>
      <div class="item">
        最后登录时间
        <span class="item-note">2016/5/2</span>
      </div>
      <div class="item">
        最后登录IP
        <span class="item-note">27.151.92.137</span>
      </div>
    </div>
    <button class="button button-block button-assertive" style="width:94%;border-radius: 0.5rem;margin: 3%;">保存修改</button>
    <button class="button button-block button-balanced" style="width:94%;border-radius: 0.5rem;margin: 3%;">返回</button>

  </ion-content>
</ion-view>

