<ion-view view-title="修改密码">
  <ion-content style="background-color: #eee;">
    <div class="list" style="background-color: #ffffff">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="输入现在使用的密码" ng-model="changePswData.password">
      </label>
      <label class="item item-input item-floating-label">
        <input type="password" placeholder="请输入新的密码"  ng-model="changePswData.newpsw">
      </label>
      <label class="item item-input item-floating-label">
        <input type="password" placeholder="再次输入新的密码"  ng-model="changePswData.newpswagain">
      </label>
    </div>
    <button class="button button-block button-assertive" style="width:94%;border-radius: 0.5rem;margin: 3%;">保存修改</button>
  </ion-content>
</ion-view>
