<ion-view view-title="我的信息">
  <ion-content style="background-color: #eee">
    <div class="item" style="padding: 0px">
      <div class="item item-text-wrap" style="padding: 0px">
        <a class="item" style="color: #999" >
          为将购买、扣款、充值、案件公示等重要信息及时通知到您，请及时维护您的联系方式。
        </a>
      </div>
    </div>
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;">关注保保集公众号</div>
    <div class="item item-icon-left">
      <i class="icon weui_icon_success"></i>
      已关注
    </div>
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;">验证手机号码</div>
    <div class="item item-icon-left">
      <i class="icon weui_icon_success"></i>
      已验证<span>18916658*****</span>
    </div>
  </ion-content>
</ion-view>
