<ion-view view-title="选择申请互助人">
  <ion-content style="background-color: #eee;">
      <div class="row" style="margin: 20px 10px 20px 10px">
        <div class="col-80">
          <input class="joinUserInput" placeholder="查询申请互助人的姓名" type="text" value="">
        </div>
        <div class="col-20">
          <button class="button" style="  background-color: #f60;  width: 5rem;  height: 2.2rem !important;  min-height: 0px !important;  margin-left: 1rem;">
            <i class="icon ion-ios-search-strong" style="color: #fff"></i>
          </button>
        </div>
      </div>
    <a class="item item-icon-right" href="#/tab/applyHelpPlanList">
      <h2>张利军</h2>
      <p style="color: #69717d">身份证：<span>355515155535</span></p>
      <i class="icon ion-ios-arrow-right"></i>
    </a>



  </ion-content>
</ion-view>
