<ion-view view-title="夸克1号互助计划">
  <ion-content style="background-color: #eee">
    <div class="parameter">
      <div style="text-align: center">
        <h3 style="  color: #fff;">夸克1号互助计划</h3>
      </div>
      <div style="text-align: center">
        <h2 style="  color: #fff;">保障金额：30万</h2>
      </div>
      <div style="border-top: .1rem solid #eb5050;">
        <div class="row" style="margin-left: 10px">
          <div class="col-50">
            <p style="  color: #ffbaba;  font-size: 1.2rem;">参与人数(人)</p>
            <h3 style="  color: #fff;margin-top: 0px">332111</h3>
          </div>
          <div class="col-50">
            <p style="  color: #ffbaba;  font-size: 1.2rem;">充值金额(元)</p>
            <h3 style="  color: #fff;margin-top: 0px">3048837.51</h3>
          </div>
        </div>
        <div class="row" style="margin-left: 10px">
          <div class="col-50">
            <p style="  color: #ffbaba;  font-size: 1.2rem;">互助事件(起)</p>
            <h3 style="  color: #fff;margin-top: 0px">1</h3>
          </div>
          <div class="col-50">
            <p style="  color: #ffbaba;  font-size: 1.2rem;">捐助金额(元)</p>
            <h3 style="  color: #fff;margin-top: 0px">300000</h3>
          </div>
        </div>
      </div>

    </div>
    <div class="list">
      <div class="item item-icon-right">
        姓名
        <span class="item-note">张XX</span>
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
      <div class="item item-icon-right">
        身份证
        <span class="item-note">651651315153</span>
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
      <div class="item">
        计划状态
        <span class="item-note">正常</span>
      </div>
      <div class="item">
        保障状态
        <span class="item-note">观察期内</span>
      </div>

      <div class="item">
        加入时间
        <span class="item-note">2016/3/14</span>
      </div>
      <div class="item">
        生效时间
        <span class="item-note">2016/9/10</span>
      </div>
    </div>
    <div class="list" style="margin-top:10px">
      <div class="item">
        余额：<span style="color:green">9元</span>
      </div>
      <div class="item item-icon-right" ng-click="clickLockMoney($event)">
        锁定金额
        <span class="item-note">0元</span>
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
      <a class="item item-icon-right" href="#/tab/payRecordList">
        账单
        <i class="icon ion-ios-arrow-right" ></i>
      </a>
      <div class="item item-icon-right">
        互助卷
        <span class="item-note" style="color: red">0张</span>
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
      <a class="item item-icon-right" href="#/tab/publicity">
        往期捐助
        <span class="item-note">0起</span>
        <i class="icon ion-ios-arrow-right" ></i>
      </a>
    </div>
    <div class="list">
      <div class="item item-icon-right" >
        申请夸克互助
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
      <a class="item item-icon-right" href="#/tab/ruledetails">
        相关规则
        <i class="icon ion-ios-arrow-right" ></i>
      </a>
      <a class="item item-icon-right" href="#/tab/dash-detail/1">
        计划详细内容
        <i class="icon ion-ios-arrow-right" ></i>
      </a>
      <div class="item item-icon-right">
        退出计划
        <i class="icon ion-ios-arrow-right" ></i>
      </div>
    </div>
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;">已有0位朋友加入该计划</div>


  </ion-content>
  <ion-footer-bar class="bar-assertive" >
    <a class="title" href="#/tab/myPlanList">充值</a>
  </ion-footer-bar>
</ion-view>
