<ion-view view-title="互助公示">
  <ion-content style="background-color: #eee;padding: 10px">
    <ion-list >
      <div style="border-left: 0.15rem solid #e1b5b5;">
        <div>
        <div style="zoom: 1;clear: both;">
          <span style="border-top: 0.15rem solid #e1b5b5;  width: .5rem;display: flex"></span>
          <span style="  margin-top: -0.7rem;margin-left: 1rem;color: #999;font-size: 1rem;display: flex;">2016/5/2</span>
        </div>
        <div class="card" style="border-radius: 0.5rem;margin-top: 0px">
          <a class="item item-thumbnail-left" href="#/tab/publicityDetail" style="border-width: 0px;">
            <img src="img/head1.jpg" style="border-radius: 0.5rem;">
            <h2 style="margin-bottom: 0.5rem;margin-top: 0.5rem">互助对象：<span style="  color: #999;">张三</span></h2>
            <h2 style="margin-bottom: 0.5rem">互助金额：<span style="  color: #999;">90000元</span></h2>
            <h2 style="margin-bottom: 0.5rem">参与人数：<span style="  color: #999;">180418人</span></h2>
          </a>
          <p style="padding:0 10px 0 10px">事件摘要：</p>
          <p style="padding:0 10px 0 10px">会员周四喜于2016年02月09日在甘蔗窖旁不慎摔倒腹部碰撞到树桩受伤，经湖南省南县中医医院诊断：<strong style="color:red">失血性休克、腹部闭合性损伤、脾破裂、弥漫性腹膜炎</strong>，经脾切除治疗后现在已经痊愈出院。</p>
        </div>
      </div>
        <div>
          <div style="zoom: 1;clear: both;">
            <span style="border-top: 0.15rem solid #e1b5b5;  width: .5rem;display: flex"></span>
            <span style="  margin-top: -0.7rem;margin-left: 1rem;color: #999;font-size: 1rem;display: flex;">2016/5/2</span>
          </div>
          <div class="card" style="border-radius: 0.5rem;margin-top: 0px">
            <a class="item item-thumbnail-left" href="#" style="border-width: 0px;">
              <img src="img/head1.jpg" style="border-radius: 0.5rem;">
              <h2 style="margin-bottom: 0.5rem;margin-top: 0.5rem">互助对象：<span style="  color: #999;">张三</span></h2>
              <h2 style="margin-bottom: 0.5rem">互助金额：<span style="  color: #999;">90000元</span></h2>
              <h2 style="margin-bottom: 0.5rem">参与人数：<span style="  color: #999;">180418人</span></h2>
            </a>
            <p style="padding:0 10px 0 10px">事件摘要：</p>
            <p style="padding:0 10px 0 10px">会员周四喜于2016年02月09日在甘蔗窖旁不慎摔倒腹部碰撞到树桩受伤，经湖南省南县中医医院诊断：<strong style="color:red">失血性休克、腹部闭合性损伤、脾破裂、弥漫性腹膜炎</strong>，经脾切除治疗后现在已经痊愈出院。</p>
          </div>
        </div>
        <div>
          <div style="zoom: 1;clear: both;">
            <span style="border-top: 0.15rem solid #e1b5b5;  width: .5rem;display: flex"></span>
            <span style="  margin-top: -0.7rem;margin-left: 1rem;color: #999;font-size: 1rem;display: flex;">2016/5/2</span>
          </div>
          <div class="card" style="border-radius: 0.5rem;margin-top: 0px">
            <a class="item item-thumbnail-left" href="#" style="border-width: 0px;">
              <img src="img/head1.jpg" style="border-radius: 0.5rem;">
              <h2 style="margin-bottom: 0.5rem;margin-top: 0.5rem">互助对象：<span style="  color: #999;">张三</span></h2>
              <h2 style="margin-bottom: 0.5rem">互助金额：<span style="  color: #999;">90000元</span></h2>
              <h2 style="margin-bottom: 0.5rem">参与人数：<span style="  color: #999;">180418人</span></h2>
            </a>
            <p style="padding:0 10px 0 10px">事件摘要：</p>
            <p style="padding:0 10px 0 10px">会员周四喜于2016年02月09日在甘蔗窖旁不慎摔倒腹部碰撞到树桩受伤，经湖南省南县中医医院诊断：<strong style="color:red">失血性休克、腹部闭合性损伤、脾破裂、弥漫性腹膜炎</strong>，经脾切除治疗后现在已经痊愈出院。</p>
          </div>
        </div>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
