<ion-view view-title="互助公示">
  <ion-content style="background-color: #eee;">
    <div class="pub_banner">
      <img src="http://www.baobaoji.cn//UploadFile/CasesPublicity/KK20160400002/9c0e909c-0127-4a35-a67e-aac1d2ef877c.jpg"style="width:7rem;  margin: 1.3rem 0 .5rem 0;border-radius: 50%;">
      <h3 style="  color: #fff;margin-top: 0px; ">周四喜</h3>
    </div>
    <div class="list">
      <div class="item">
        <p>互助事件编号</p>
        <h2>KK20160400002</h2>
      </div>
      <div class="item">
        <p>互助计划</p>
        <h2>夸克综合意外互助计划</h2>
      </div>
      <div class="item">
        年龄
        <span class="item-note">57</span>
      </div>
      <div class="item">
        性别
        <span class="item-note">男</span>
      </div>
      <div class="item">
        户籍
        <span class="item-note">湖南省</span>
      </div>
    </div>

    <div class="list" style="margin-top: 10px">
      <div class="item">
        加入时间
        <span class="item-note">2016/2/6</span>
      </div>
      <div class="item">
        生效时间
        <span class="item-note">2016/2/7</span>
      </div>
      <div class="item">
        参与互助人数
        <span class="item-note">180418</span>
      </div>
      <div class="item">
        互助金额
        <span class="item-note">90000.00</span>
      </div>
      <div class="item">
        公示日期
        <span class="item-note">2016/4/13</span>
      </div>
      <div class="item">
        扣款日期
        <span class="item-note">2016/4/20</span>
      </div>
    </div>
    <div class="item" style="margin-top: 10px">
        <h2>事件情况</h2>
        <div class="pub_bo">
          <p>会员周四喜于2016年02月09日在甘蔗窖旁不慎摔倒腹部碰撞到树桩受伤，经湖南省南县中医医院诊断：<strong style="color: red">失血性休克、腹部闭合性损伤、脾破裂、弥漫性腹膜炎</strong>，经脾切除治疗后现在已经痊愈出院。</p>
        </div>
    </div>
    <div class="item" style="margin-top: 10px">
      <h2>调查过程</h2>
      <div class="pub_bo">经第三方调查公司工作人员先后到湖南省南县中医院、原事故现场、走访村民并面见互助会员，确认会员周四喜于2016年02月09日在甘蔗窖旁不慎摔倒腹部碰撞到树桩受伤，导致脾切除。</div>
    </div>
    <div class="item" style="margin-top: 10px">
      <h2>互助详情</h2>
      <div class="pub_bo">
        <p> 会员周四喜未进行伤残鉴定，因为其外伤后已行脾切除手术，脾脏缺失明确。 </p>
        <p>根据《人身保险伤残评定标准》中4.2脾结构损失、脾切除，<strong class="red">符合8级伤残，赔付比例为30%。</strong> 结合第三方调查公司调查报告及夸克联盟互助计划规则，会员周四喜符合夸克综合意外互助计划，互助金额为9万。</p>
        <p>根据《夸克综合意外互助计划》的约定，周四喜可获得封顶互助金为9万元（人民币）。截止此次公示发布之日（2016年04月13日）夸克综合意外互助计划共有会员 <strong class="red">180418人</strong>，都参与本次事件互助，每人预计均摊金额为 <strong class="red">0.5元</strong>。</p>
        <p>本公示期7天，在此期间互助金额将被冻结。如无会员提出异议，将于 2016年04月20日从会员账户扣取互助金。请会员仔细查阅披露的事件材料。</p>
        <p>夸克联盟接受全体会员监督，但为了是会员本人和家庭的生活不被打扰，平台在公示内容中隐去了会员的联系方式和家庭住址，如相关媒体及其他会员对事件详情需要了解更多或对公示有异议，可通过微信公众号“保保集微服务”、官网及客服热线与保保集平台取得联系，平台将协助会员了解相关情况。 </p>
      </div>
    </div>
    <div class="item" style="margin-top: 10px">
      <h2>相关材料</h2>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_01.jpg" class="previewImage">
        <h5>夸克会员凭证</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_02.jpg" class="previewImage">

        <h5>互助申请书</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_03.jpg" class="previewImage">

        <h5>会员信息</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_04.jpg" class="previewImage">

        <h5>住院病案</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_05.jpg" class="previewImage">

        <h5>出院记录</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_06.jpg" class="previewImage">

        <h5>手术记录</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_07.jpg" class="previewImage">

        <h5>费用明细</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_08.jpg" class="previewImage">

        <h5>诊断书</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_09.jpg" class="previewImage">

        <h5>会员近照</h5>
      </div>
      <div class="pub_img">
        <a href="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/zsx_KK20160300001.pdf" target="_blank" class="external">
          <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/Pho_02.jpg" class="previewImage">
        </a>
        <h5><a href="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/zsx_KK20160300001.pdf" class="external" style="color:blue">调查报告</a></h5>
      </div>
    </div>
    <div class="item" style="margin-top: 10px">
      <h2>公示结果</h2>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_周四喜-银行记录.jpg" class="previewImage">

        <h5>银行记录</h5>
      </div>
      <div class="pub_img">
        <img src="http://www.baobaoji.cn/UploadFile/CasesPublicity/KK20160400002/gs/s_周四喜-收据.jpg" class="previewImage">
        <h5>收据</h5>
      </div>
    </div>
    <a class="button button-assertive " style="width:94%;border-radius: 0.5rem;margin: 3%" href="#/tab/myPlanList">充值</a>
  </ion-content>
</ion-view>
