<ion-view view-title="会员中心">
  <ion-content style="background-color: #eee">
    <div class="item-balanced" style="background-color: #ffffff">
      <div style="float:left;padding:.3rem .5rem;">
        <img src="img/kuke_logo_s.png" style="margin-top:.15rem;height: 2rem">
      </div>
      <div style="  display: block;  font-size: 1rem;  line-height:3.5rem;color: #666">点滴互助，大有保障 </div>
    </div>
    <a class="item item-icon-right" style="padding: 0px" href="#/tab/userInfoList">
      <div style="float:left;padding:.5rem">
        <img src="img/head.jpg" style="width:3.5rem;border-radius: 50%;">
      </div>
      <div style="margin-top:.9rem;padding-left:1rem">
                            <span style="font-size: 1rem">
                                ☆梦寻江南☆
                            </span>
        <p style="color: #666">编号:427386</p>
      </div>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    <div class="list" style="margin-top: 10px">
      <a class="item item-icon-left item-icon-right" href="#/tab/myPlanList">
        <i class="icon tabel_ico tabel_ico1"></i>
        我的计划
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/myPlanList" >
        <i class="icon tabel_ico tabel_ico2"></i>
        充值
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/tab/joinUserList" >
        <i class="icon tabel_ico tabel_ico11"></i>
        互助申请
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/publicity" >
        <i class="icon tabel_ico tabel_ico7"></i>
        互助公示
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
