<ion-view view-title="地址列表">
  <ion-content style="background-color: #eee">
    <div class="list">
      <div class="item item-icon-right" >
        <div style="float: left">
          <h2>地址信息</h2>
          <p>收货地址：福建 福州 仓山区 a</p>
        </div>
        <span class="item-note" style="margin-top: 10px;">小虎</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
    <div class="item-balanced" style="margin: 20px;color: #6d6d72;" ng-if="false">您还没有添加任何地址</div>
  </ion-content>
  <ion-footer-bar class="bar-assertive " >
    <a class="title " href="#/tab/addUserAddress">添加收货地址</a>
  </ion-footer-bar>
</ion-view>
