<ion-view view-title="我的信息">
  <ion-content style="background-color: #eee">
    <div class="list">
    <a class="item item-icon-left item-icon-right" href="#/tab/contactInformation">
      <i class="icon l_ico l_ico2"></i>
      重要信息通知方式
      <i class="icon ion-ios-arrow-right"></i>
    </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/changePassword">
        <i class="icon l_ico l_ico3"></i>
         修改密码
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/accountInfo">
        <i class="icon l_ico l_ico4"></i>
        账户信息
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/userAddressList">
        <i class="icon l_ico l_ico9"></i>
        收货地址
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <button class="button " style="width:94%;border-radius: 0.5rem;margin: 3%;color: #999;">退出登录</button>
  </ion-content>
</ion-view>
