<ion-view view-title="账户余额">
  <ion-content style="background-color: #eee">
    <div class="item" style="padding: 0px">
      <div class="item item-text-wrap" style="padding: 0px">
        <a class="item" >
          为了保证出险会员能从夸克平台及时、确定的拿到互助金，充分保障每一位参与会员的利益，会员账户余额需 ≥ 9元，低于9元时，需及时补充到9元以上。
        </a>
      </div>
    </div>

    <div class="item " style="margin-top: 10px">
    <i class=" kk_act kk_act1">正常</i>
      账户余额 ≥ 9元(或持有互助券)
      <span class="item-note">享受保障</span>
    </div>
    <div class="item" style="margin-top: 10px">
      <i class=" kk_act kk_act2">警告</i>
      3≤ 账户余额 < 9元
      <span class="item-note">享受保障</span>
    </div>
    <div class="item">
      需及时将账户余额补足到9元以上
    </div>
    <div class="item" style="margin-top: 10px">
      <i class="kk_act kk_act3">不足</i>
      账户余额 < 3元
      <span class="item-note">不享受保障</span>
    </div>
    <div class="item">
      会员补足余额的次日零时可重新享受保障（余额不足期间所发生的事故不予互助）。
    </div>
    <div style="color: #999 !important;padding: 10px" >
      <span style="color: #FF0004 !important;">说明：</span>
      <br>
      (1) 会员应及时关注账户情况，及时补足金额。<br>
      (2) 会员也可向自己的账户里多存入一点资金，比如100元，这样可以避免因忘记及时补足余额，而不能享受到应有的保障。
    </div>

  </ion-content>
</ion-view>
