<ion-view view-title="互助流程">
  <ion-content>
    <div class="content-inner">
      <div class="content-block" id="pop_content"><p>互助会员不幸发生互助事件时，互助申请流程如下：</p>

        <p>一、通知平台并提交材料：互助申请人（互助会员或其法定继承人）在互助会员确认发生互助事件之日起30日内通过在线客服或拨打客服电话（400-630-7088）等方式通知平台并提交互助申请表。</p>

        <p>备注：互助申请人在平台受理申请后7日内按照平台的要求提交各类互助事件证明材料。</p>

        <p>二、平台收齐互助事件证明材料后委托独立第三方评估机构或者具有相关专业知识的人员，对互助事件进行评估和鉴定，形成报告；平台专家就互助事件进行审定。</p>

        <p>备注：互助事件情况清晰的，审核时间为互助申请人完整提交材料后30个工作日内，情况特别复杂的为60个工作日内。</p>

        <p>三&nbsp;、审查结果公示及互助金划拨</p>

        <p>1.&nbsp;&nbsp;&nbsp;&nbsp; 审定意见认为互助事件符合本计划规则的，平台将每月定期进行公示，公示期为7天，在公示期间接受其他互助会员的质询；不符合本计划规则的，平台将告知互助申请人。</p>

        <p>2.&nbsp;&nbsp;&nbsp;&nbsp; 互助事件公示期满次日，平台计算每位互助会员的均摊金额，并从每位互助会员的平台个人账户上划拨互助金。</p>

        <p>3.&nbsp;&nbsp;&nbsp;&nbsp; 互助金归集完毕后3个工作日内，平台将一次性向互助申请人划拨互助金。</p>

        <p>备注：若有互助会员在公示期间有依据地对互助事件提出异议，平台根据异议情况要求互助申请人解释说明或补充提交材料，并对互助事件再次进行审定。</p>
      </div>
    </div>
  </ion-content>
</ion-view>
