<ion-view view-title="规则详情">
  <ion-content>
    <div class=" content-inner content-block">
      <p><strong>计划宗旨</strong></p>

      <p>本计划在自愿加入的前提下，本着“互助共济，损失补偿”的宗旨，会员在中华人民共和国境内（不含港、澳、台地区）驾驶车辆发生交通事故后，依据法律法规对第三者的赔付费用超过该车辆的机动车交通事故责任强制保险（以下简称交强险）和第三者商业责任险（以下简称三者险）的限额后，其他会员为其进行互助。</p>

      <p><strong>加入与退出</strong></p>

      <p>会员可自愿加入、自愿退出本计划。</p>

      <p>1、加入条件</p>

      <p>(1) 预存9元初始金额；</p>

      <p>(2) 持有合法有效的《中华人民共和国机动车驾驶证》C2及以上；</p>

      <p><strong>等待期</strong>：48小时</p>

      <p>（等待期：是为了防止参与计划的人明知道将发生风险事故，而马上加入以获得利益的行为。）</p>

      <p>2、退出机制</p>

      <p>(1) 账户余额低于3元，保障中断，30天内未充值，自动退出；</p>

      <p>(2) 《会员公约》和本互助规则所规定的其他情况。</p>

      <p>3、计划内容</p>

      <p>互助范围和标准：</p>

      <p>会员加入该计划48小时后，</p>

      <p>非营利性驾驶7座以下小型载客汽车发生交通事故，</p>

      <p>对第三者人身伤残和死亡及对第三者<strong>豪车</strong>①车辆造成的损失在保险公司结案或者法院判决、仲裁后超过会员所驾驶车辆的保险限额（交强险和不低于20万的三者险）时，</p>

      <p>我们按照下列方式予以互助：</p>

      <p>伤残和死亡的最高互助金为30万元</p>

      <p>造成第三者人身伤亡的：</p>

      <p>互助金额 =（伤残赔偿金②或死亡赔偿金③）×交通事故责任占比-交强险-三者险（未购买不计免险，按照三者险最高限额扣除）</p>

      <p>注： （1）在同一事故中造成多人伤亡的，互助金总金额不超过30万。</p>

      <p>&nbsp; &nbsp;（2）在交通事故责任无法认定时，以法院判决为准。</p>

      <p>豪车车损最高互助金为50万元</p>

      <p>会员所驾驶车辆在事故中的责任为同责或次责的情况下，对第三者<strong>豪车</strong>①车辆造成的车辆损失：</p>

      <p>互助金额=第三者豪车车辆损失×交通事故责任占比-交强险-三者险（未购买不计免险，按照三者险最高限额扣除）</p>

      <p>注： （1）在同一事故中造成多辆第三者<strong>豪车</strong>①车辆损失的，互助金总金额不超过50万。</p>

      <p>&nbsp; &nbsp;（2）在交通事故责任无法认定时，以法院判决为准。</p>

      <p>4、均摊标准</p>

      <p>会员资格存续期间，若万一发生上述情况，其他会员有义务进行均摊式互助。每人单次均摊基准上限为3元。计划成员越多每次均摊额越少。</p>

      <p>5、不予互助的情形：</p>

      <p>（一）第三者商业责任险责任免除事项的；</p>

      <p>（二）未超过保险公司第三者限额的及保险公司不予赔付的；</p>

      <p>（三）一年内互助过一次的，同一事故申请过一次的；</p>

      <p>（四）对车辆损失金额大于国家物价局（保险公司、公估公司）价格的部分；</p>

      <p>（五）在与豪车发生交通事故时会员占主责及全责造成车辆损失的；</p>

      <p>（六）间接损失不予互助；</p>

      <p>（七）故意夸大、捏造保险事故的；</p>

      <p>（八）未购买交强险且低于20万第三者商业责任险的；</p>

      <p>（九）事故未结案的；</p>

      <p>（十）车上人员的人身伤亡或本车财产损失；</p>

      <p>（十一）结案时会员状态已失效的；</p>

      <p>（十二）出租车不予互助；</p>

      <p><strong>释义</strong></p>

      <p>① 豪车：新车购置价不低于人民币100万元。</p>

      <p>② 残疾赔偿金：参照《道路交通事故受伤人员伤残评定GB18667－2002》。根据受害人丧失劳动能力程度或者伤残等级，按照受诉法院所在地上一年度城镇居民人均可支配收入或者农村居民人均纯收入标准，自定残之日起按二十年计算。但六十周岁以上的，年龄每增加一岁减少一年；七十五周岁以上的，按五年计算。（不包括医疗费、误工费、伙食补助费、护理费、残疾用具费、被抚养人费、精神抚慰金交通住宿费等）</p>

      <p>③ 死亡赔偿金：按照受诉法院所在地上一年度城镇居民人均可支配收入或者农村居民人均纯收入标准，按二十年计算。但六十周岁以上的，年龄每增加一岁减少一年；七十五周岁以上的，按五年计算。（不包括精神抚慰金、医疗费、误工费、伙食补助费、护理费、被抚养人费、交通住宿费等）&nbsp;</p>

      <p><strong>互助申请流程</strong></p>

      <p>1、互助金申请</p>

      <p>(1)互助金申请人（会员或其法定继承人）知道互助事故后应当在30日内通知夸克平台。</p>

      <p>(2)申请人可通过微信端、保保集官网、人工客服等方式通知。</p>

      <p>(3)申请人须填写互助金申请书，并提供相关证明和资料：</p>

      <p>申请互助所需材料：</p>

      <p>申请人申请互助时应提供有效身份证件，交强险和三者险保单、驾驶证、行驶证、交通事故责任认定书、调解书、损失清单，维修发票、保险公司的结案证明、法院的判决书、裁定书或调解书、或仲裁机构出具的裁决书或调解书，以及其他所能提供的与确认互助事件的性质、原因、损失程度等有关的证明和资料。</p>

      <p>未履行前款约定的单证提供义务导致夸克平台无法核实损失情况的，夸克平台对无法核实部分不发起互助。</p>

      <p>2、互助金划拨</p>

      <p>(1)互助事故情况清晰的，审核时间为互助申请人完整提交材料后30个工作日内，情形复杂的为60个工作日内。</p>

      <p>(2)核定意见认为互助事件符合本计划规则的，夸克互助平台将每月定期进行公示，公示期为7个自然日，在公示期间接受其他互助会员的异议；不符合本计划规则的，夸克互助平台将告知互助申请人。</p>

      <p>(3)互助事件公示期满次日夸克互助平台计算每位互助会员的均摊金额，并从每位互助会员的平台个人账户上划拨互助金。</p>

      <p>(4)互助金归集完毕后3个工作日内，夸克平台将一次性向互助申请人划拨互助金。</p>

      <p>(5)若有互助会员在公示期间有依据地对互助事故提出异议，夸克平台根据异议情况要求互助申请人解释说明或补充提交材料，并对互助事故再次进行核定。</p>

      <p>&nbsp;<strong>其他需要关注的事项</strong></p>

      <p>1、会员和互助金申请人应当对与本计划相关的情况履行明确说明如实告知义务。如果故意或者因重大过失未履行如实告知义务，夸克平台有权解除会员资格。<br>
        （1）如果故意不履行如实告知义务，对于解除会员资格前发生的互助事件，不进行互助，并不退还个人账户余额。<br>
        （2）如果因重大过失未履行如实告知义务，对于解除会员资格前发生的互助事故，不进行互助，但应当退还个人账户余额。<br>
        2、夸克互助平台不对每次互助的互助金总额做出承诺。<br>
        3、夸克互助平台有权根据实际情况适时修订本计划规则并在网站上公示，公示后即发生法律效力。&nbsp;</p>

      <p><strong>本互助计划规则的解释权归上海卓保网络科技有限公司和夸克平台所有。</strong>&#8203;</p>
    </div>
  </ion-content>
</ion-view>
