<div class="bg_fff">
  <div class="content-padded">
    <h3>夸克联盟，给无保人士的社会拥抱</h3>
    <div class="news-date f12 hui2">
      <span>发布日期：2016/4/20  来源： 新浪网</span>
    </div>
    <hr>
    <div class="bo" id="news_content"><p>　　<img src="http://n.sinaimg.cn/translate/20160420/blXr-fxrizpp1864893.jpg" style="height:320px; margin:0px; width:335px" class="img-responsive img_full"></p>

      <p>　　周四喜，是湖南省南县的一位57岁的村民，2016年的大年初二，盼着女儿女婿回娘家拜年的他，去甘蔗窖给孩子们取他们爱吃的甘蔗，却不慎摔倒撞上了甘蔗窖旁的树桩，这一撞，导致他脾破裂，送往南县中医院后进行了脾脏摘除术，按照伤残标准评定为八级伤残。</p>

      <p>　　来自网络互助的“救命拥抱”</p>

      <p>　　就在三天之前，除夕前一天，在深圳工作的周小智(周四喜的侄子)回到家乡，出钱为包括周四喜在内的家人每人花费九元，帮他们加入了名为“夸克综合意外”的一个互助计划，谁曾想而就在三天后，2月9日，周四喜意外发生互助事件。</p>

      <p>　　根据《人身保险伤残评定标准》中4.2脾结构损失、脾切除，周四喜已经符合8级伤残，赔付比例为30%。夸克联盟结合第三方专业调查公司调查报告及互助计划规则，确认会员周四喜符合夸克综合意外互助计划意外伤残互助申请条件，给予互助金额9万元。</p>

      <p>　　记者了解到，周小智在儿时得到了叔叔(周四喜)一家的很多照顾，在深圳工作的他先是自己加入了夸克联盟，之后回家过年也帮叔叔全家人加入了夸克联盟。叔叔周四喜没有商业保险，没有社会保险，2015年因为断缴农村合作医疗保险，所以也不能住院报销。</p>

      <p>　　如果没有加入夸克联盟，这一次的意外对这个“无保”的农村家庭打击无疑是巨大的。意外不幸来临的时候，侄子的善心之举让周四喜得到了今后生活以及治疗的保障，不善言辞的他让侄子转达了自己对每一位会员(互助计划的成员)帮助的救命钱的感激之情。</p>

      <p>　　时代在进步，保障方式更加多样互补</p>

      <p>　　个体依赖于社会的一大基本职能便是抵御风险，自古以来社会便具备着内在的风险抵御功能，而互联网这个工具的出现，以近乎零成本的方式使得用户之间的互助行为可以高效表达，完善了“社会”的互助共济属性。</p>

      <p>　　目前已有的社会保险、商业保险以及亲友互助等形式共同形成了一个立体的、互补的社会保障体系，像夸克联盟这样的网络互助平台则是在新的技术条件和社会条件下另一种风险保障形式，它们的出现也使得社会的保障方式更加多元丰富。</p>

      <p>　　从保险密度、深度等指标上看，中国社会的风险保障水平还是比较低的，但是这些风险又会对每个人的生活和他们的家庭构成很大的影响。以医疗险为例，大病保险和商业险在我国医疗总支出中的比例只有约5%，但是这个指标在美国占到约50%，台湾地区也占到近40%。</p>

      <p>　　换句话说，中国人民个人及其家庭承担了过于沉重的疾病治疗开支，这对于幸福、稳定的生活是一种不容忽视的负担。而通过新的互联网技术和新的商业模式，更多的保障方式能为更多人解决更多风险保障方面的问题，给更多人带来幸福的生活。</p>

      <p>　　朱俊生：法律是滞后的，对创新的东西要宽松</p>

      <p>　　首都经济贸易大学教授朱俊生强调“有些互助计划针对保险业的一些不足是很好的尝试，应该欢迎这种竞争和市场多样性的尝试。但如果是出于目前的互助计划没有纳入保险监管以及对传统的保险业务有一定潜在冲击就试图予以否定，则不妥，法律永远是滞后的，对创新的东西要宽松” 。</p>

      <p>　　对外经贸大学保险学院教授王国军则对夸克联盟这样的互助计划提出了鼓励和要求：夸克联盟所做的是一种很好的金融创新模式，只要不碰触两个底线就没问题。</p>

      <p>　　王国军说：“有两个底线是不能破的，首先是它不能叫保险，因为商业保险都是归中国保监会来管的，社会保险是人民政府做的，所以没有第三者的保险。第二个它不能是实质性的保险业务，也就是说投保人缴纳保险费，在保险合同约定的时候事故发生之后保险公司按照合同进行赔偿，这种保险关系是不应该有的。现在夸克联盟所做的东西呢应该说挺受欢迎，而且是一个非常好的金融创新模式，是值得提倡的。就是要求他在运作的过程中，不要踩保险监管部门的两个底线，同时保持一个好的沟通能够使这个业务继续做下去，继续为老百姓做好服务”。</p>

      <p>　　一旦讲到风险保障，大家可能就会自觉不自觉想到保险，但实际上社会互助是在一个成熟社会体系里由来已久的自发风险抵御机制，只不过现在随着互联网的发展，大家有一种新的工具，把社会互助这件事以更大的范围、更低的成本和更高的效率做起来，夸克联盟做的事情就是给社会公众的自发互助行为提供了一种新的技术手段。</p>

      <p>　　举一个例子两个月前夸克联盟有一个会员不幸罹患了白血病，通过夸克联盟得到了30万元的互助金，公示显示每位夸克成员平摊1.34元，该成员不超过十天便取得30万元全款，这是网络互助的力量，小成本，高保障。</p>

      <p>　　人类社会有很多抵御风险的工具，包括保险、社会保障、救助等，网络互助从某种意义上说是众多工具的一种互补形式，或者可以这么理解，网络互助是一次利用社会保险多年累积的经验技术，嫁接着互联网的平台，为社会的保障体系更加完善、惠及更多民众的慈善创新之举。</p>

      <p>新闻源<a href="http://news.sina.com.cn/o/2016-04-20/doc-ifxrprek2696707.shtml" target="_blank" class="external">http://news.sina.com.cn/o/2016-04-20/doc-ifxrprek2696707.shtml</a></p>
    </div>
  </div>
</div>
