<div class="bg_fff">
  <div class="content-padded">
    <h3>夸克联盟与你共御风险，共荣社会保障</h3>
    <div class="news-date f12 hui2">
      <span>发布日期：2016/4/25  来源： 网易</span>
    </div>
    <hr>
    <div class="bo" id="news_content"><p><img alt="01.png" src="http://img1.cache.netease.com/catchpic/6/65/65BC7B2035E690616146389115F66089.png" style="width:500px" class="img-responsive img_full"></p>

      <p><em>甘肃瓜州县小学生运动会现场</em></p>

      <p>甘肃瓜州县小学生开运动会突发龙卷风，学生李佳琪被卷起又被甩下，这一新闻吓人不轻。</p>

      <p>明天和意外谁先到来，真的说不准。风险不可预知，无论是生病还是发生意外，我们除了要遭受身体上的疼痛还要面临巨额的医疗费或者是其他费用，往往苦不堪言。正是防患于未然，一系列保险才应运而生。</p>

      <p>无论是商业保险、社会保险、还是基础的合作医疗，它的赔付比例都有一定的限制，遭遇重大疾病或者是意外事故，我们还是需要担负不菲的经济负担。<a href="http://money.163.com/keywords/5/3/5938514b805476df/1.html" target="_blank" class="external">夸克联盟</a>这样的互助平台出现在一定程度上弥补了保险的空缺部分，是<a href="http://money.163.com/keywords/7/3/793e4f1a4fdd969c/1.html" target="_blank" class="external">社会保障</a>的补充和公益方向的延伸。但提醒公众应该擦亮眼睛，选择背景实力强 ，有真实互助案例且具有专业能力的互助平台。</p>

      <p>网络互助作为一种新的风险救助方式，它不是保险，也不能替代保险，但具备对保险的补充属性。</p>

      <p>生活中风险不可避免，大家购买保险的意识也逐渐加强，社会保险和商业保险以及其他保险方式虽然已经初步形成了一个比较完整的保障体系，但还是有其辐射不到的地方。夸克联盟是在新的技术条件和社会条件下另一种风险保障形式，它们的出现也使得社会的保障方式更加多元丰富，更加完善。</p>

      <p>夸克联盟虽然运用了一些保险原理，但互助计划更多是一种民事互助的契约，体现的是社会公益性质，其运行机制、<a href="http://money.163.com/keywords/4/1/4f1a5458/1.html" target="_blank" class="external">会员</a>对互助计划保障能力的期待，与保险公司都存在很大的差异。</p>

      <p>引用中国政法大学民商法专业副教授王萍对法治周末记者的原话：“相互保险需运用大数法则，通过精算进行风险定价和费率厘定，遵循的是风险对价原则;而这些民间机构发起的互助计划，只是简单收取小额捐助费用，用于会员出现风险事件时进行捐助。关注会员(出资人)是否以获取投资收益为目的，如果会员的小额出资是为了在风险事件出现时，通过平台直接捐助给特定的会员，那么不存在非法集资的风险。”</p>

      <p>中央财经大学保险法研究中心主任胡晓珂表示“这类互助计划，有助于建立多层次的社会保障体系，应该鼓励其发展”，胡主任同时还指出，“如果互助计划从纯公益性的角度出发，那么应该纳入人社部的监管范畴” 。</p>

      <p><strong>互助友爱，温暖传递社会</strong></p>

      <p>下面这则是真实的案例：湖南省南县57岁农民周四喜的侄子2015年除夕前一天花九元钱帮他加入了一个“夸克综合意外”的互助计划，而周四喜2016年大年初二就发生意外导致脾脏破裂，脾脏摘除后，周四喜被评定为八级伤残。周四喜没有购买社会保险和商业保险，新农合也因断缴无法进行赔付，他不得不面临巨额的医疗费。但是因为他已经加入夸克综合意外互助计划，是夸克联盟的会员且经过调查又符合互助规则，所以他得到了九万元的互助金。这笔钱对周四喜来说无疑是雪中送炭。</p>

      <p><strong>永久0收益运营的公益网络互助平台</strong></p>

      <p>夸克联盟所属保保集网，保保集网是由国内一批互联网和保险业内的资深人士创办。他们通过互联网共享经济的模式减少保障的中间环节、降低成本、透明化运营，让每个人都可以用最低的价格获得一份有价值的基础生命保障。</p>

      <p>为此，保保集建立了名为“夸克联盟”的网络互助平台，为人们提供传统社保、商业保险之外一种更基础、更低价的互助保障方式，与传统社保、商保之间形成互补关系。在这个过程中就免除了其他业态在经营中的运营成本和营销成本，所以说夸克联盟这种低成本的互助方式完善了社会共济的属性。</p>

      <p><strong>资金安全，银行监管，公开透明</strong></p>

      <p>保保集网负责整个平台的运营，所有会员缴纳的资金均存入保保集网在银行开设的专用资金帐户，进行公开、透明的管理和使用，并接受社会各界以及会员的监督。保保集拥有数位10年以上核赔经验的保险专家和医学专家把关，并有国内知名的公估机构辅助线下互助审核服务，所有单证的处理，也都与第三方律所和公证处合作，力求让整个平台公开公正、阳光透明。</p>

      <p><img alt="02.png" src="http://img1.cache.netease.com/catchpic/2/28/2874007766A2089C24F7303021C85EAF.png" style="width:500px" class="img-responsive img_full"></p>

      <p><em>夸克联盟运营模式图</em></p>

      <p><strong>在夸克，权利义务均等，共荣会员保障</strong></p>

      <p>夸克联盟<a href="http://quotes.money.163.com/usstock/hq/CO.html" class="external">CO</a>O张政对记者直言，收取会员费并不是平台的初衷和目的，“为了避免会员出现‘搭便车’，也为了提升互助计划的有效性，让会员在出现风险时，能够切实得到保障，便设置了9元作为加入的门槛”。</p>

      <p>但是，在寻求资金使用透明化处置方案过程中，张政坦言：在目前的商业体系中，很难找到一种行之有效的对资金监管的方式。“由于目前资金量小，商业银行要么并不愿意提供资金托管服务，要么需要支付非常高昂的托管费用，在目前平台不盈利的情况下，如果坚持进行托管，那么托管费就会作为成本转嫁到用户身上，增加用户负担，背离互助计划低成本运营的初衷。”他说。</p>

      <p>张政介绍，目前夸克联盟会员缴纳的资金在银行处进行存管，公司定期会将资金使用情况通过网站、客户端向用户进行公示，只能以此推动资金使用的公开、透明。</p>

      <p>只需要9元，就可以获得一份保障，何乐不为。加入夸克联盟，每一个夸克会员都有救助和被救助的义务和权利，体现的是社会公益性质，所以说加入夸克联盟，是社会人的“多一份”保障。</p>

      <p>来源：网易<a href="http://money.163.com/16/0422/18/BL9B52FD00253B0H.html#ntes_share_count=1&amp;ntes_share=sns_weibo" target="_blank" class="external">http://money.163.com/16/0422/18/BL9B52FD00253B0H.html#ntes_share_count=1&amp;ntes_share=sns_weibo</a></p>
    </div>
  </div>
</div>
