<div class=" bg_fff">
  <div class="content-padded">
    <h3>互联网公益新秀夸克联盟 网络互助共建和谐社会</h3>
    <div class="news-date f12 hui2">
      <span>发布日期：2016/4/26  来源： 新浪新闻中心</span>
    </div>
    <hr>
    <div class="bo" id="news_content"><p>狄更斯说：“这是最好的时代，这是最坏的时代”。用在当今互联网时代再合适不过的一句话。互联网时代，拉近了人与人之间的距离，同时也滋生了更多的风险。互联网为我们的生活提供了更多的可能性，为经济发展提供了一片广袤的土地。更给公益和社会救助提供了更大的便利。网络互助，既是一种新的经济发展模式，更是社会上互不相识的人互相帮助的坚实桥梁。</p>

      <p>　　<img src="http://n.sinaimg.cn/translate/20160425/enIu-fxrqhar9958157.jpg" style="height:260px; margin:0px; width:402px" class="img-responsive img_full"></p>

      <p>　　当一个家庭无法承受保险的高昂保额同时又需要一份保障的时候，网络互助就显得格外必要。保保集网旗下推出的夸克联盟网络互助平台，是一种在风险真实发生之后实施资金救助的社会公益性平台。夸克是自然界中最小的粒子单位，每个加入夸克联盟会员的人都是一个微小的粒子，最终凝聚成大的力量实现会员之间的互助，达到规避风险的目的。简单来说，如果有一百万会员，当有一个会员出险每人均摊0.3元即可为其筹集30万保障金。网络互助作为社会互助在新技术条件下的风险救助方式，它不是保险，但给个人、家庭、社会带来实际的福音。</p>

      <p>　　夸克联盟现今已有超过50万名的互助会员，每个会员之间都是以互助为目的的相互之间的权利义务关系。因此夸克联盟的风险保障不是在夸克联盟和用户之间的，而是在夸克联盟的用户和用户之间。近日，夸克联盟平台公布的两起互助事件受到会员的广泛关注。其中会员基本情况、事件的核实过程以及互助情况全透明公布使每个人更清晰的了解自己帮助的对象，同时也是一种自我监督和供他人监督的举措。夸克联盟始终坚持合法、合规、公开和透明的运作原则，通过“互联网+”的方式，为每个人增加一份保障，规避一份风险。</p>

      <p>　　夸克联盟是以“互助”为宗旨的纯公益性平台，现已有包括雷军旗下顺为资本在内的资本的加入。同时夸克联盟是保保集网推出的国内最大的网络互助平台，是对传统保险商业模式予以创新，借助互联网技术的互助平台，夸克联盟解决了传统公益类项目实行时所受到的时空方面限制，真正实现了网络互助。夸克联盟还在积极筹备更多互助计划，从用户需求出发，普惠更广泛的民众。</p>

      <p>　　首都经济贸易大学教授朱俊生强调“有些互助计划针对保险业的一些不足是很好的尝试，应该欢迎这种竞争和市场多样性的尝试。”网络的视角总是走在时代发展前沿的，相较而言制度和法律却有着本身无法克服的滞后性，因此对于新的网络互助模式，应给予宽容。对于夸克联盟来说无疑是很好的金融创新模式，是值得提倡的。它使社会保障方式更加多元丰富，通过网络搭建自己的互助平台，真正实现便民惠民。</p>

      <p>　　网络+公益+保障，用最低的投入获得最高的保障。在人情愈发冷漠的今天，让每个会员真正体验“人人为我，我为人人”的温情。本着“零利润”、“透明化”的原则，夸克诚心服务于每个加入夸克大家庭的会员。为着那只怕“万一”的风险，在本就不易的生活面前给自己一份放心的保障，别让意外毁了一个原本宁静的家庭，在这里，至少你有万万个夸克兄弟姐妹随时准备着为你提供最最真心的帮助。</p>

      <p>来源：新浪网&nbsp;<a href="http://news.sina.com.cn/o/2016-04-25/doc-ifxrprek3280497.shtml" target="_blank" class="external">http://news.sina.com.cn/o/2016-04-25/doc-ifxrprek3280497.shtml</a></p>
    </div>
  </div>
</div>
