<div class="bg_fff">
  <div class="content-padded">
    <h3>夸克联盟再发布救助事件 网络互助回归公益本心</h3>
    <div class="news-date f12 hui2">
      <span>发布日期：2016/4/21  来源： 光明网</span>
    </div>
    <hr>
    <div class="bo" id="news_content"><p>　日前，夸克联盟公示第二和第三例互助事件详情：24岁正值青春年华的会员彭静遭遇车祸意外丧生;另一位需要帮助的会员是位57岁的父亲周四喜，不慎摔倒导致脾破裂、并行脾脏摘除术，按照伤残评定标准为8级伤残。经审核，两起事件符合《夸克综合意外互助计划》互助申请条件，平台予以互助，每位会员只需均摊1.06元，即可给这两位会员和其家人带去关怀和帮助。</p>

      <p><img alt="彭静.jpg" src="http://img.gmw.cn/imgeconomy/attachement/png/site2/20160421/c03fd543e6d4188279b115.png" style="margin:0px" class="img-responsive img_full"></p>

      <p>上图是彭静</p>

      <p>　　此次互助事件公示引起了夸克联盟会员们的广泛关注，大家纷纷留言表达对受助者及其家人的祝福，并踊跃支持夸克联盟的善举。据悉，夸克联盟隶属于保保集网，从获得雷军和杉杉集团的联合投资后，夸克联盟的平台格局越来越明晰，其中非常引人注目的莫过于“救命钱，不该被盈利”的网络互助模式。网络互助，即当平台内的某一位会员遭遇风险时，经过平台严格审核，符合救助条件的，平台会将取自于会员缴纳的保障费用，真正用于保障会员权益上面，从而与传统社保、商保之间形成互补关系，为夸克联盟会员提供在传统社保、商业保险之外一种更基础、更低价的保障方式。</p>

      <p>　　从严格意义上来讲，网络互助是“互联网+”的另一种表现形式，和大部分“互联网+”模式不同的是，网络互助真正摒弃了商业化的内涵和外壳，完全回归公益本心，是一种完全为保障会员权益而生、更加纯粹的保障方式。互联网的大潮下，人们可以选择多种形式的保障模式，但网络互助作为社会互助在新技术条件下的风险救助方式，以低成本高保障的模式给个人、家庭、社会带去了福音。</p>

      <p>　　夸克联盟的网络互助保障是一种“风险共担，助人自助”的模式，与传统的保险相比较而言，它的互助金完全归属于全体会员，赔付的不是自有资金而是来自于互助资金池，这与传统股份制保险公司存在着很大的不同。对于夸克联盟的会员来说，在帮助他人的同时，也能让自己得到保障。</p>

      <p>　　除此之外，夸克联盟的网络互助降低了保障成本，会员通过较低的投入即可获得较高的保障，真正体现了网络互助的普惠性，践行了“人人为我，我为人人”的公益理念。众所周知，传统的保险业投入成本较高，保险关系单线建立于顾客和保险公司之间，保险公司是中心，每一个人只能做到“独善其身”，而网络互助模式则更有几分“兼济天下”的意味，它是一个公益平台，为平台的成员提供互助的保障和规则，使得互助行为合理高效。</p>

      <p>　　通过夸克联盟此次第2、3例互助事件的公示，夸克联盟也将自身的运作情况、资金使用情况透明地向夸克联盟的会员以及社会公开，接受会员以及社会的监督，起到了良好的自律、他律作用。目前整个夸克联盟平台都是由保保集网负责运营，为了实现网络互助的信息透明、公平公正的特点，夸克联盟不接触会员资金，所有会员缴纳的费用均存入银行专用资金帐户，并会定期发布资金的收集使用情况，包括每一笔救助使用资金事由和救助事件本身向所有用户透明公示，划转记录也会一笔一笔非常透明地给到会员，保证每笔资金的去向实行透明化管理，确保专款专用，并随时接受社会各界以及会员的监督。保保集表示，“我们要严格遵守市场秩序，为实现全民网络互助不断奋斗。”</p>

      <p>　　夸克联盟每一例互助都是经过严格审核的，其拥有内部精算师，以及数位拥有10年以上核赔经验的保险专家和医学专家把关，并有国内知名的公估机构辅助线下互助审核服务，所有单证的处理，也都与第三方律所和公证处合作。夸克联盟通过这种公开透明的模式弥补了全民信任体系的不足，利用当下互联网共享经济模式，重新塑造了传统保险大病保障方式，让救命钱真正发挥了它的存在价值。</p>

      <p>　　人类社会发展至今，有很多抵御风险的工具，包括保险、社会保障、救助等，网络互助从某种意义上说是一种互补形式。保险学专家认为，网络互助平台利用互联网的信息撮合功能，推动会员之间通过协议承诺承担彼此风险损失，这是一种积极的金融创新，值得提倡。</p>

      <p>　　给自己和家人多一份踏实的保障，让社会多一份和谐。夸克联盟致力于为网络互助模式实现正确引导，促进行业的良性发展，希望有更多的爱心人士加入，将温暖与大爱洒向人间。</p>

      <p>来源：光明网<a href="http://economy.gmw.cn/2016-04/21/content_19793859.htm" target="_blank" class="external">http://economy.gmw.cn/2016-04/21/content_19793859.htm</a></p>
    </div>
  </div>
</div>
