<div class=" bg_fff">
  <div class="content-padded">
    <h3>网络互助时代开启 夸克联盟值得提倡</h3>
    <div class="news-date f12 hui2">
      <span>发布日期：2016/4/29  来源： 和讯网</span>
    </div>
    <hr>
    <div class="bo" id="news_content"><p>&nbsp; &nbsp; 单丝不成线，孤木不成林。近日大家一定听说了这样一则新闻《21岁产妇并发症去世 捐出器官角膜救助6个人》——21岁产妇邵紫燕因妊娠急性脂肪肝引发的多功能器官衰竭和脑水肿，抢救无效死亡。捐出心、肝、两个肾、一对眼角膜，救助了六个病人。邵紫燕用她的器官挽救了别人的生命，一对仍在ICU病房的双胞胎儿子却还没见上妈妈一面。医院说这：“一家人善良朴实，我们跟他们沟通器官捐献的时候，他们做出的决定让人觉得很伟大。邵紫燕帮助了别人，我们也应该帮帮她”。通过大家的传播，到16日晚上六点，共有5000多为医护人员和热心市民为孩子筹集到了25万元成长基金。</p>

      <p><img alt="肾脏受捐者家属赵先生发布的手写血肌酐化验结果，说明母亲接受邵紫燕的器官捐助后，肾功能关键性指标已达正常值范围" src="http://i4.hexunimg.cn/2016-04-28/183595888.jpg" style="height:463px; margin:4px; width:500px" class="img-responsive img_full"></p>

      <p>　　肾脏受捐者家属赵先生发布的手写血肌酐化验结果，说明母亲接受邵紫燕的器官捐助后，肾功能关键性指标已达正常值范围</p>

      <p>　　的确，众人拾柴火焰高，这个故事虽然是不幸的，但最终的结果却有温暖的一面。近年来，很多老人摔倒不敢扶，孩子被撞没人管的现象然很多人觉得，似乎这个社会变得越来越冷冰冰。而有这样一个平台，始终在为温暖人心做着默默的付出和努力。近日，夸克联盟发布的两起新的互助事件公示引起了很多人的热情关注。一则是关于24的女孩彭静不幸在意外车祸中丧生，父母遭受巨大的丧女之痛。另一则是一位57岁的父亲周四喜不慎摔倒在树桩上导致脾破裂、并行脾脏摘除术事件，按照伤残评定标准为8级伤残。通过对核实过程、互助详情等信息的公布，大家知道这样的意外对两个家庭都造成了怎样措手不及的伤害和打击。彭静的父母正承受着丧女之痛，而对于另外一个家庭来说，意外的发生使这个家庭失去了主要劳动力。公示一经发布，大家纷纷留言表达对受助者及其家人的祝福，夸克联盟互助平台分别给予彭静10万元互助金、给予周四喜9万元互助金。</p>

      <p>　　也许很多人会问：什么是夸克联盟?首先需要明确一个概念——“网络互助”。夸克联盟是保保集网推出的国内最大的网络互助平台。在<a href="http://jingzhi.funds.hexun.com/160636.shtml" target="_blank" class="external">互联网</a>+趋势下，保保集重磅推出夸克联盟，夸克联盟沿用了传统<a href="http://insurance.hexun.com/" target="_blank" class="external">保险</a>商业模式积累多年的分析技术，但夸克联盟不是保险，而是利用互联网技术的互助平台，夸克联盟解决了传统公益类项目实行时所受到的时空方面限制，真正实现了网络互助。</p>

      <p>　　夸克——已知自然界中的最小粒子，夸克很渺小，小到直径只有10-12微米，但也正是这样微小的粒子聚集在一起，才产生了巨大的能量。夸克正是夸克联盟的精髓所在，夸克联盟会员采用的网络互助机制，如果有一百万会员，当有一个会员出险，每人众筹0.3元即可为其筹集30万保障金。人人为我，我为人人，夸克联盟让网络互助来替大家承担那“就怕万一”的风险。</p>

      <p>　　夸克联盟现已推出“夸克综合意外互助计划”、“夸克驾车风险互助计划”、“夸克1号中青年大病互助计划”、“夸克2号少儿大病互助计划”、“夸克扶老太太爱心互助计划”等，且更多计划还在积极筹备当中。</p>

      <p>　　夸克联盟利用互联网工具，搭建自己的互助平台，坚持零利润，透明化运营，让每个人能用低投入获得足够的保障。夸克联盟通过案件公示的形式，对会员信息、互助事件概况、事件核实过程、互助详情及互助事件公示材料进行公示，使得信息透明化。这既是一种自律，也实现了他人对平台的监督，逐步建立起网络互助的公信力。夸克联盟始终坚信，救命钱不该被盈利!</p>

      <p>　　夸克联盟作为传统商业保险和社保的补充，将网络互助作为社会保障在新技术条件下的风险救助方式，给个人、家庭、社会带来福音。保险学专家表示，这是积极的创新，值得提倡。公益+互助，无疑让每个人的爱心得以施与，安心得以安放，这不仅是顺应互联网经济时代的产物，更是人间温情的一味助推剂。在哀叹社会越来越冰冷的时候，不如加入夸克联盟，成为众多“粒子”中的一员，给自己多一份保障，也为他人带去一份温暖。</p>

      <p>来源：和讯网<a href="http://news.hexun.com/2016-04-28/183595887.html" target="_blank" class="external">http://news.hexun.com/2016-04-28/183595887.html</a></p>
    </div>
  </div>
</div>
