<ion-view view-title="密码找回">
  <ion-content style="background-color: #eee;">
    <div class="list" style="background-color: #ffffff">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="请输入手机号" ng-model="changePswData.password">
      </label>
      <label class="item item-input item-floating-label">
        <button class="button-clear" style="  position: fixed;  right: 0;  margin-top: 5px;  border-left: 1px solid #eee;  color: #F86D11;">获取验证码</button>
        <input  type="text" placeholder="验证码" ng-model="changePswData.password">
      </label>
      <label class="item item-input item-floating-label">
        <input type="password" placeholder="输入新密码"  ng-model="changePswData.newpsw">
      </label>
      <label class="item item-input item-floating-label">
        <input type="password" placeholder="确认新密码"  ng-model="changePswData.newpswagain">
      </label>
    </div>
    <button class="button button-block button-assertive" style="width:94%;border-radius: 0.5rem;margin: 3%;">设置新密码</button>
  </ion-content>
</ion-view>
